@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300&family=Neucha&family=Oswald:wght@300&family=Roboto:wght@300&family=Rubik:wght@300&display=swap');

body{
  height: 100vh;
  background-image: linear-gradient(180deg , #134982 , #00BDC9);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:Neucha , cursive;
}
.heading{
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 5px;
  margin: 20px;
}